/*----------------------------余白設定----------------------------*/

main>section:first-child:not([class*="pt"]),
main>div:first-child:not([class*="pt"]),
div[class*='pb']+.contents_related,
section[class*='pb']+.contents_related,
div[class*='pb']+.contents_related_tags,

section[class*='pb']+.contents_related_tags{
	padding-top: 60px;
}
main>section:not([class*="pt"]),
main>div:not([class*="pt"]),
aside>section:not([class*="pt"]),
aside>div:not([class*="pt"]){
	padding-bottom: 60px;
}
@media screen and (max-width: 800px){
	main>section:first-child:not([class*="pt"]),
	main>div:first-child:not([class*="pt"]),
	div[class*='pb']+.contents_related,
	section[class*='pb']+.contents_related,
	div[class*='pb']+.contents_related_tags,
	section[class*='pb']+.contents_related_tags{
		padding-top: 40px;
	}
	main>section:not([class*="pt"]),
	main>div:not([class*="pt"]),
	aside>section:not([class*="pt"]),
	aside>div:not([class*="pt"]){
		padding-bottom: 40px;
	}
}

