@charset "UTF-8";

/*--基本--*/

.widget_staff01 .wrapper_item + h3{
	margin-top: 40px;
}
.widget_staff01 .wrapper_item{
	max-width: 2000px;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: flex-start;
}
.widget_staff01 .inner_item{
	margin: 0 0 40px;
	padding: 0 5px 0;
	width: 32%;
	box-sizing: border-box;
	margin-left: 2%;
}
.widget_staff01 .inner_item:nth-of-type(3n+1){
	margin-left: 0;
	clear: left;
}

.widget_staff01 .inner_item_img{
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	border: 1px solid var(--i_border_color);
	background: var(--i_bg_color);
}
.widget_staff01 .inner_item_img img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	background: rgba(255,255,255,0.2);
	max-height: 318px;
	margin: auto;
}
.widget_staff01 .inner_item_txt{
	text-align: center;
	word-break: break-all;
}
.widget_staff01 .inner_item_txt .heading{
	margin-bottom: 0;
}
.widget_staff01 .inner_item_txt .heading+*:not(.s_sns){
	margin-top: 10px;
}
.widget_staff01 .inner_item_txt .heading>*:first-child:last-child{
	margin-bottom: 0;
}
.widget_staff01 .inner_item_txt dl{
	text-align: left;
}
.widget_staff01 .inner_item_txt dl{
	border-bottom: 1px solid var(--i_border_color);
}
.widget_staff01 .inner_item_txt dl:nth-of-type(1){
	border-top: 1px solid var(--i_border_color);
}
.widget_staff01 .sub:last-child{
	/*紹介テキストが無い時*/
	margin-bottom: 0;
}
.widget_staff01 .contents_btn01{
	width: 100%;
	max-width: 1200px;
	padding: 0 8px 0;
	margin: 0 auto;
	box-sizing: border-box;
	border: none !important;
	border-top: 1px solid var(--i_border_color);
}

.widget_staff01 .hidetgl{
	margin-top: 10px;
	display: none;
	padding: 0;
}
.widget_staff01.cotents_hide .hidetgl{
	display: block;
}
.widget_staff01.cotents_hide .heading+.hidetgl,
.widget_staff01.cotents_hide_sp .heading+.hidetgl{
	display: none !important;
}
.widget_staff01 .hidetgl a{
	display: inline-block;
	cursor: pointer;
	font-size: 1.4rem;
	min-width: 0;
	padding: 2px 30px;
	min-width: 100px;
	text-decoration: none;
	text-align: center;
}
.widget_staff01 .hidetgl a span{
	padding-top: 2px;
	padding-bottom: 2px;
}
.widget_staff01 .hidetgl span:hover{
	opacity: 0.7;
}
.widget_staff01.cotents_hide .inner_item_txt dl{
	display: none !important;
}
.widget_staff01.cotents_hide .inner_item_txt.c_show dl{
	display: table !important;
}
@media screen and (max-width: 768px){
	.widget_staff01.cotents_hide_sp .hidetgl{
		display: block;
	}
	.widget_staff01 .hidetgl a:hover{
		background: var(--i_btn_color) !important;
		color: var(--i_btn_txt_color) !important;
	}
	.widget_staff01.cotents_hide_sp .inner_item_txt dl{
		display: none !important;
	}
	.widget_staff01.cotents_hide_sp .inner_item_txt.c_show dl{
		display: table !important;
	}
}

/*add_design1*/

.widget_staff01.add_design1 .inner_item .inner_item_img+.inner_item_txt{
	margin-top: 10px;
}

/*add_design2*/

.widget_staff01.add_design2 .inner_item{
	width: 100%;
	overflow: hidden;
	margin-bottom: 50px;
	margin-left: 0!important;
}
.widget_staff01.add_design2 .inner_item .inner_item_img{
	width: 30%;
	min-height: 220px;
	height: auto !important;
	float: left;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.widget_staff01.add_design2 .inner_item .inner_item_img img{
	max-width: 100%;
	flex-shrink: 0;
}
.widget_staff01.add_design2 .inner_item .inner_item_txt{
	width: 67%;
	float: right;
	text-align: left;
}
.widget_staff01.add_design2.cotents_hide .hidetgl{
	text-align: left;
}
@media screen and (max-width: 768px){
	.widget_staff01.add_design2 .inner_item .inner_item_img{
		width: 70%;
		min-height: 20vw;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.widget_staff01.add_design2 .inner_item .inner_item_txt{
		padding-top: 10px;
		width: auto;
		float: none;
	}
	.widget_staff01.add_design2 .inner_item .inner_item_txt{
		text-align: center;
	}
	.widget_staff01.add_design2.cotents_hide .hidetgl{
		text-align: center;
	}
}

/*add_design3*/

.widget_staff01.add_design3 .wrapper_item{
	position: relative;
}
.widget_staff01.add_design3 .wrapper_item:has(ul.slick-dots):not(:last-child){
	padding-bottom: 30px;
}
.widget_staff01.add_design3 .slick-list{
	overflow: hidden;
	width: 100%;
	border: 1px solid var(--i_border_color, rgba(125,125,125,0.7));
}
.widget_staff01.add_design3 .slick-track{
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	min-width: 100%;
}
.widget_staff01.add_design3 .slick-arrow{
	display: block;
	height: 40px;
	width: 30px;
	text-indent: -10000px;
	outline:none;
	line-height:1px;
	font-size:1px;
	cursor: pointer;
	position: absolute;
	top: calc(50% - 20px);
	left: -32px;
	z-index: 1;
	border: none;
	margin-top: -15px;
}
.widget_staff01.add_design3 .slick-next{
	left: auto;
	right: -32px;
}
.widget_staff01.add_design3 .slick-arrow:before{
	content: "";
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	top: calc(50% - 7px);
	border-top: 1px solid var(--i_btn_color, rgba(125,125,125,0.3));
	border-left: 1px solid var(--i_btn_color, rgba(125,125,125,0.3));
}
.widget_staff01.add_design3 .slick-prev:before{
	transform: rotate(-45deg);
	left: calc(50% + 26px);
}
.widget_staff01.add_design3 .slick-next:before{
	transform: rotate(135deg);
	left: calc(50% - 42px);
}
.widget_staff01.add_design3 ul.slick-dots{
	display: flex !important;
	align-items: center;
	justify-content: center;
	width: 90%;
	text-align: center;
	margin: 13px auto 0;
}
.widget_staff01.add_design3 ul.slick-dots li{
	display: block;
	width: 7px;
	height: 7px;
	overflow: hidden;
	padding: 0 3px;
}
.widget_staff01.add_design3 ul.slick-dots li:marker{
	display: none;
}
.widget_staff01.add_design3 ul.slick-dots button{
	border: none;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	text-indent: -10000px;
	background: var(--i_txt_color);
	opacity: 0.2;
	cursor: pointer;
}
.widget_staff01.add_design3 ul.slick-dots .slick-active button{
	background: var(--i_btn_color);
	opacity: 1;
}
.widget_staff01.add_design3 .inner_item{
	width: 100%;
	overflow: hidden;
	margin-left: 0!important;
	margin-bottom: 0;
	padding: 40px;
}
.widget_staff01.add_design3 .inner_item .inner_item_img{
	width: 30%;
	min-height: 220px;
	height: auto !important;
	float: left;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.widget_staff01.add_design3 .inner_item .inner_item_img img{
	max-width: 100%;
	flex-shrink: 0;
}
.widget_staff01.add_design3 .inner_item .inner_item_txt{
	width: 67%;
	float: right;
	text-align: left;
	display: block;
}
.widget_staff01.add_design3 .inner_item .inner_item_txt:first-child{
	width: 100%;
}
.widget_staff01.add_design3.cotents_hide .hidetgl{
	text-align: left;
}
@media screen and (max-width: 1260px){
	.widget_staff01.add_design3 .slick-arrow{
		display: none !important;
	}
}
@media screen and (max-width: 768px){
	.widget_staff01.add_design3 .inner_item{
		padding: 20px;
	}
	.widget_staff01.add_design3 .inner_item .inner_item_img{
		width: 70%;
		min-height: 20vw;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.widget_staff01.add_design3 .inner_item .inner_item_txt{
		padding-top: 10px;
		width: auto;
		float: none;
	}
	.widget_staff01.add_design3 .inner_item_txt>*:nth-of-type(1){
		margin-top: 10px;
	}
	.widget_staff01.add_design3 .inner_item .inner_item_txt{
		text-align: center;
	}
	.widget_staff01.add_design3.cotents_hide .hidetgl{
		text-align: center;
	}
}

.edit_view .widget_staff01.add_design3 .content_wrapper{
	padding-bottom: 20px;
	position: relative;
}
.edit_view .widget_staff01.add_design3 .content_wrapper:before,
.edit_view .widget_staff01.add_design3 .content_wrapper:after{
	content: "●●●●●";
	color: var(--i_txt_color);
	line-height: 1;
	font-size: 7px;
	letter-spacing: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	opacity: 0.2;
}
.edit_view .widget_staff01.add_design3 .content_wrapper:after{
	content: "●";
	opacity: 1;
	color: var(--i_btn_color);
}
.edit_view .widget_staff01.add_design3 .wrapper_item{
	overflow: visible;
}
.edit_view .widget_staff01.add_design3 .inner_item:nth-child(n+2){
	display: none;
}
.edit_view .widget_staff01.add_design3 .inner_item:nth-of-type(1){
	border: 1px solid var(--i_border_color, rgba(125,125,125,0.7));
	overflow: visible;
	position: relative;
}
.edit_view .widget_staff01.add_design3 .inner_item:nth-of-type(1):before,
.edit_view .widget_staff01.add_design3 .inner_item:nth-of-type(1):after{
	content: "";
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	top: calc(50% - 7px);
	border-top: 1px solid var(--i_btn_color, rgba(125,125,125,0.3));
	border-left: 1px solid var(--i_btn_color, rgba(125,125,125,0.3));
}	
.edit_view .widget_staff01.add_design3 .inner_item:nth-of-type(1):before{
	transform: rotate(-45deg);
	left: calc(0% - 26px);
}
.edit_view .widget_staff01.add_design3 .inner_item:nth-of-type(1):after{
	transform: rotate(135deg);
	left: calc(100% + 12px);
}
@media screen and (max-width: 1260px){
	.edit_view .widget_staff01.add_design3 .inner_item:nth-of-type(1):before,
	.edit_view .widget_staff01.add_design3 .inner_item:nth-of-type(1):after{
		display: none;
	}
}

/*----*/

.widget_staff01 .inner_item .inner_item_txt p.sub,
.widget_staff01 .inner_item .inner_item_txt p.sub+p{
	margin-bottom: 10px !important;
}
.widget_staff01 .inner_item .inner_item_txt p.sub+p:empty{
	margin-bottom: 0 !important;
}
.widget_staff01 .inner_item .inner_item_txt dl{
	display: table;
	width: 100%;
	table-layout: fixed;
	border-color: var(--i_border_color);
}
.widget_staff01 .inner_item .inner_item_txt dt,
.widget_staff01 .inner_item .inner_item_txt dd{
	display: table-cell;
	vertical-align: middle;
	padding: 7px 0;
	box-sizing: border-box;
	line-height: 1.5;
}
.widget_staff01 .inner_item .inner_item_txt dt{
	width: 120px;
}
.widget_staff01 .inner_item .inner_item_txt dd{
	padding-left: 10px;
}
@media screen and (min-width: 801px){
	.widget_staff01 .inner_item .inner_item_txt dt{
		border: none !important;
	}
}
@media screen and (max-width: 800px){
	.widget_staff01 .inner_item .inner_item_txt dl{
		display: block;
	}
	.widget_staff01 .inner_item .inner_item_txt dt{
		border-bottom: 1px dotted var(--i_border_color);
	}
	.widget_staff01 .inner_item .inner_item_txt dt,
	.widget_staff01 .inner_item .inner_item_txt dd{
		width: auto !important;
		display: block;
		padding: 10px 0 !important;
	}
}

/*--text-align--*/

.widget_staff01.align-left .inner_item_txt *
.widget_staff01 .align-left *,
.widget_staff01 .heading.align-left + .sub{
	text-align: left;
}
.widget_staff01.align-center .inner_item_txt *,
.widget_staff01 .align-center *,
.widget_staff01 .heading.align-center + .sub{
	text-align: center;
}
.widget_staff01.align-right .inner_item_txt *,
.widget_staff01 .align-right *,
.widget_staff01 .heading.align-right + .sub{
	text-align: right;
}

@media screen and (max-width: 600px){
	.widget_staff01 .inner_item{
		margin: 0 0 40px;
		padding: 0 5px 0;
		box-sizing: border-box;
		margin-left: 2%;
	}
	.widget_staff01 .inner_item:nth-of-type(3n-2){
		margin-left: 0;
	}
}
@media screen and (max-width: 500px){
	.widget_staff01 .inner_item{
		margin: 0 0 40px;
		padding: 0 5px 0;
		width: 100%;
		float: none;
		box-sizing: border-box;
		margin-left: 0;
	}
	.widget_staff01 .inner_item:nth-of-type(3n+1),
	.widget_staff01 .inner_item:nth-of-type(2n+1){
		margin-left: 0;
		clear: none;
	}
	.widget_staff01 .inner_item_img{
		height: auto !important;
		width: 70%;
		float: none;
		margin: 0 auto 10px;
		display: block;
		border: none;
	}
	.widget_staff01 .inner_item_txt{
		width: auto !important;
		float: none !important;
	}
	.widget_staff01 .inner_item_img img{
		max-height: none;
	}
}