@charset "UTF-8";

main section.widget_shop01:last-child,
main>div.widget_shop01:last-child,
aside>div.widget_shop01:last-child{
	padding-bottom: 0 !important;
}

.widget_shop01 .wrapper_item{
	max-width: calc(1200px - var(--i_padding, 20px) * 2);
	margin: 0 auto 50px;
	overflow: hidden;
}
.widget_shop01 .inner_item_img{
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.widget_shop01.w100 .inner_item_img{
	width: 100%;
}
.widget_shop01.w95 .inner_item_img{
	width: 95%;
}
.widget_shop01.w90 .inner_item_img{
	width: 90%;
}
.widget_shop01.w85 .inner_item_img{
	width: 85%;
}
.widget_shop01.w80 .inner_item_img{
	width: 80%;
}
.widget_shop01.w75 .inner_item_img{
	width: 75%;
}
.widget_shop01.w70 .inner_item_img{
	width: 70%;
}
.widget_shop01.w65 .inner_item_img{
	width: 65%;
}
.widget_shop01.w60 .inner_item_img{
	width: 60%;
}
.widget_shop01.w55 .inner_item_img{
	width: 55%;
}
.widget_shop01.w50 .inner_item_img{
	width: 50%;
}
.widget_shop01.w45 .inner_item_img{
	width: 45%;
}
.widget_shop01.w40 .inner_item_img{
	width: 40%;
}
.widget_shop01.w35 .inner_item_img{
	width: 35%;
}
.widget_shop01.w30 .inner_item_img{
	width: 30%;
}
.widget_shop01.w25 .inner_item_img{
	width: 25%;
}
.widget_shop01.w20 .inner_item_img{
	width: 20%;
}
.widget_shop01.w15 .inner_item_img{
	width: 15%;
}
.widget_shop01.w10 .inner_item_img{
	width: 10%;
}
.widget_shop01.w5 .inner_item_img{
	width: 5%;
}
.widget_shop01.w0 .inner_item_img{
	width: 0;
}
.widget_shop01 .inner_item_txt{
	width: 50%;
	float: right;
	padding-left: 2vw;
	box-sizing: border-box;
}
.widget_shop01.w0 .inner_item_txt{
	padding-left: 0;
}
.widget_shop01 .wrapper_item>.inner_item_txt:first-child{
	width: auto;
	float: none;
	margin: 0 auto;
	padding: 0;
}
.widget_shop01.w100 .inner_item_txt{
	width: 0;
}
.widget_shop01.w95 .inner_item_txt{
	width: 5%;
}
.widget_shop01.w90 .inner_item_txt{
	width: 10%;
}
.widget_shop01.w85 .inner_item_txt{
	width: 15%;
}
.widget_shop01.w80 .inner_item_txt{
	width: 20%;
}
.widget_shop01.w75 .inner_item_txt{
	width: 25%;
}
.widget_shop01.w70 .inner_item_txt{
	width: 30%;
}
.widget_shop01.w65 .inner_item_txt{
	width: 35%;
}
.widget_shop01.w60 .inner_item_txt{
	width: 40%;
}
.widget_shop01.w55 .inner_item_txt{
	width: 45%;
}
.widget_shop01.w50 .inner_item_txt{
	width: 50%;
}
.widget_shop01.w45 .inner_item_txt{
	width: 55%;
}
.widget_shop01.w40 .inner_item_txt{
	width: 60%;
}
.widget_shop01.w35 .inner_item_txt{
	width: 65%;
}
.widget_shop01.w30 .inner_item_txt{
	width: 70%;
}
.widget_shop01.w25 .inner_item_txt{
	width: 75%;
}
.widget_shop01.w20 .inner_item_txt{
	width: 80%;
}
.widget_shop01.w15 .inner_item_txt{
	width: 85%;
}
.widget_shop01.w10 .inner_item_txt{
	width: 90%;
}
.widget_shop01.w5 .inner_item_txt{
	width: 95%;
}
.widget_shop01.w0 .inner_item_txt{
	width: 100%;
}

.widget_shop01 .inner_item_txt .heading>*:first-child:last-child{
	margin-bottom: 0;
}
.widget_shop01 dl{
	display: table;
	width: 100%;
	table-layout: fixed;
	overflow: hidden;
	width: 100%;
	border-bottom: 1px solid var(--i_border_color);
}
.widget_shop01 dl:nth-of-type(1){
	border-top: 1px solid var(--i_border_color);
}
.widget_shop01 dt,
.widget_shop01 dd{
	display: table-cell;
	vertical-align: middle;
	padding: 10px 0;
	box-sizing: border-box;
}
.widget_shop01 dt{
	width: 170px;
}
.widget_shop01 dd{
	padding-left: 10px;
}

.widget_shop01 .map{
	width: 100%;
	height: 20vw;
	min-height: 300px;
	max-height: 450px;
	position: relative;
}
.widget_shop01 .map iframe{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.widget_shop01.width_full .map iframe{
	left: calc(var(--i_padding, 20px) * -1);
	width: calc(100% + var(--i_padding, 20px) * 2);
}
.widget_shop01 .inner_item_txt+.contents_btn01,
.widget_shop01 .map+.contents_btn01{
	padding-top: 30px;
}

.widget_shop01 p.sub{
	display: inline-block;
	text-align: left;
	font-size: 1.5rem;
	line-height: 1.7;
	margin: 3px auto;
}

@media screen and (max-width: 800px){
	.widget_shop01 .inner_item_img,
	.widget_shop01 .inner_item_txt{
		width: auto !important;
		float: none;
	}
	.widget_shop01 .inner_item_img{
		margin-bottom: 40px;
		text-align: center;
	}
	.widget_shop01 .inner_item_img img{
		max-width: 80%;
	}
	.widget_shop01 dt{
		width: 150px;
	}
}

@media screen and (max-width: 700px){
	.widget_shop01 .wrapper_item{
		width: 100%;
	}
	.widget_shop01 dl{
		display: block;
	}
	.widget_shop01 dt,
	.widget_shop01 dd{
		width: auto;
		display: block;
		padding: 10px 0;
	}
	.widget_shop01 dt{
		border-bottom: 1px dotted var(--i_border_color);
		font-weight: bold;
	}
}
.widget_shop01 .inner_item_img .map{
	height: auto;
	max-height: none;
	min-height: 0;
}
.widget_shop01 .inner_item_img img+.map,
.widget_shop01 .inner_item_img a+.map{
	padding-top: 30px;
}
.widget_shop01 .inner_item_img iframe{
	position: static;
	height: 400px;
	width: 100% !important;
	left: 0 !important;
}
@media screen and (max-width: 800px){
	.widget_shop01 .inner_item_img iframe{
		max-width: 80%;
		height: 350px;
	}
}
@media screen and (max-width: 450px){
	.widget_shop01 .inner_item_img img{
		max-width: 100%;
	}
	.widget_shop01 .inner_item_img iframe{
		max-width: 100%;
		height: 300px;
	}
}

/*------add_design3--------*/

.widget_shop01.add_design3 .map{
	display: none;
}
.widget_shop01.add_design3 .wrapper_item{
	border: 1px solid var(--i_main_color);
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	box-sizing: border-box;
	font-size: 0.9em;
	line-height: 1.7;
}
.widget_shop01.add_design3 .inner_item_img{
	width: 180px;
	max-width: 180px !important;
	margin: 0;
	padding-right: 20px;
	float: none;
}
.widget_shop01.add_design3 .inner_item_img a{
	pointer-events: none;
}
.widget_shop01.add_design3 .inner_item_img img{
	max-width: 100%;
	display: block;
	margin: auto;
}
.widget_shop01.add_design3 .inner_item_txt{
	width: calc(100% - 180px) !important;
	padding: 0;
	float: none;
}
.widget_shop01.add_design3 .heading.block_header_4,
.widget_shop01.add_design3 .heading.block_header_4 .h{
	margin-bottom: 0;
}
.widget_shop01.add_design3 .heading.block_header_4+p{
	margin-top: 10px;
	margin-bottom: 0;
}
.widget_shop01.add_design3 .info{
	background: var(--i_shadow_color);
	padding: 10px;
	text-align: center;
	width: 100%;
	margin-top: 20px;
	box-sizing: border-box;
}
.widget_shop01.add_design3 .info p.tel{
	font-size: 2.6rem;
	line-height: 1.5;
}
.widget_shop01.add_design3 .info p.tel svg{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 3px;
	fill: var(--i_main_color);
}
.widget_shop01.add_design3 .info p+.contents_btn01{
	margin-top: 7px;
}
.widget_shop01.add_design3 .info p+.contents_btn01 .content_wrapper{
	padding: 0 !important;
}
.widget_shop01.add_design3 .info p+.contents_btn01 a{
	min-width: 0;
	text-decoration: none;
	margin-bottom: 0;
}
@media screen and (max-width: 600px){
	.widget_shop01.add_design3 .wrapper_item{
		display: block;
		padding: 20px;
	}
	.widget_shop01.add_design3 .inner_item_img{
		margin: 0 auto 15px;
		padding: 0;
	}
	.widget_shop01.add_design3 .inner_item_txt{
		width: 100% !important;
	}
	.widget_shop01.add_design3 .heading.block_header_4{
		text-align: center;
	}
}

/*------add_design4--------*/

.widget_shop01.add_design4 .map{
	display: none;
}
.widget_shop01.add_design4 .wrapper_item{
	border: 1px solid var(--i_main_color);
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	font-size: 0.9em;
	line-height: 1.7;
	position: relative;
}
.widget_shop01.add_design4 .wrapper_item:before{
	content: "";
	display: block;
	width: 1px;
	height: calc(100% - 40px);
	background: var(--i_main_color);
	position: absolute;
	top: 20px;
	left: 50%;
}
.widget_shop01.add_design4 .inner_item_img{
	width: calc(50% - 20px) !important;
	margin: 0;
	float: none;
	text-align: center;
}
.widget_shop01.add_design4 .inner_item_img a{
	display: inline-block;
	pointer-events: none;
}
.widget_shop01.add_design4 .inner_item_img img{
	max-width: 180px;
	display: block;
	margin: auto;
}
.widget_shop01.add_design4 .inner_item_img p{
	text-align: left;
	width: 100%;
}
.widget_shop01.add_design4 .inner_item_img img+p,
.widget_shop01.add_design4 .inner_item_img a+p{
	margin-top: 15px;
}
.widget_shop01.add_design4 .heading.block_header_4,
.widget_shop01.add_design4 .heading.block_header_4 .h{
	margin-bottom: 0;
	text-align: center;
}
.widget_shop01.add_design4 .heading.block_header_4+p{
	margin-top: 10px;
	margin-bottom: 0;
}
.widget_shop01.add_design4 .info{
	text-align: center;
	width: calc(50% - 20px);
	box-sizing: border-box;
}
.widget_shop01.add_design4 .info p.tel{
	font-size: 2.6rem;
	line-height: 1.5;
}
.widget_shop01.add_design4 .info p.tel svg{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 3px;
	fill: var(--i_main_color);
}
.widget_shop01.add_design4 .info p+.contents_btn01{
	margin-top: 7px;
}
.widget_shop01.add_design4 .info p+.contents_btn01 .content_wrapper{
	padding: 0 !important;
}
.widget_shop01.add_design4 .info p+.contents_btn01 a{
	min-width: 0;
	text-decoration: none;
	margin-bottom: 0;
}
@media screen and (max-width: 600px){
	.widget_shop01.add_design4 .wrapper_item{
		display: block;
		padding: 20px;
	}
	.widget_shop01.add_design4 .wrapper_item:before{
		display: none;
	}
	.widget_shop01.add_design4 .inner_item_img{
		width: 100% !important;
	}
	.widget_shop01.add_design4 .info{
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid var(--i_main_color);
		width: 100% !important;
	}
	.widget_shop01.add_design4 .heading.block_header_4{
		text-align: center;
	}
}

/*------add_design5--------*/

.widget_shop01.add_design5 .map{
	display: none;
}
.widget_shop01.add_design5 .wrapper_item{
	border: 1px solid var(--i_main_color);
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	font-size: 0.9em;
	line-height: 1.7;
}
.widget_shop01.add_design5 .inner_item_img{
	width: auto;
	margin: 0;
}
.widget_shop01.add_design5 .inner_item_img img{
	display: block;
	width: 100%;
	max-height: 100px;
	max-width: 200px;
	object-fit: contain;
}
.widget_shop01.add_design5 .info1{
	flex: 1;
}
.widget_shop01.add_design5 .inner_item_img+.info1{
	padding-left: 20px;
}
.widget_shop01.add_design5 .info1 .heading .h{
	margin-bottom: 0 !important;
}
.widget_shop01.add_design5 .info2{
	margin-top: 20px;
	width: 100%;
	background-color: var(--i_sub2_color);
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}
.widget_shop01.add_design5 .add{
	text-align: center;
	width: 100%;
}
.widget_shop01.add_design5 .info2>.telw,
.widget_shop01.add_design5 .info2>.contents_btn01{
	width: 50%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: var(--i_bg_color);
	margin-top: 15px;
	padding: 10px;
	box-sizing: border-box;
}
.widget_shop01.add_design5 .info2>.telw{
	position: relative;
}
.widget_shop01.add_design5 .info2>.telw:after{
	content: "";
	display: block;
	width: 1px;
	height: calc(100% - 20px);
	background: var(--i_main_color);
	position: absolute;
	top: 10px;
	right: 0;
}
.widget_shop01.add_design5 p.tel{
	font-size: 2.6rem;
	line-height: 1.2;
	width: 100%;
}
.widget_shop01.add_design5 p.tel svg{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 3px;
	fill: var(--i_main_color);
}
.widget_shop01.add_design5 p.sub{
	margin: 5px auto 0;
}
.widget_shop01.add_design5 .contents_btn01 a{
	margin-bottom: 0;
}
@media screen and (max-width: 650px){
	.widget_shop01.add_design5 .info2>.telw,
	.widget_shop01.add_design5 .info2>.contents_btn01{
		width: 100%;
	}
	.widget_shop01.add_design5 .info2>.telw:after{
		width: calc(100% - 20px);
		height: 1px;
		top: auto;
		bottom: 0;
		right: 10px;
	}
	.widget_shop01.add_design5 .info2>.contents_btn01{
		margin-top: 0;
	}
}
@media screen and (max-width: 600px){
	.widget_shop01.add_design5 .wrapper_item{
		padding: 15px;
	}
	.widget_shop01.add_design5 .inner_item_img,
	.widget_shop01.add_design5 .info1{
		width: 100% !important;
		text-align: center;
		padding: 0 !important;
	}
	.widget_shop01.add_design5 .inner_item_img{
		margin-bottom: 10px;
	}
	.widget_shop01.add_design5 .inner_item_img img{
		margin: 0 auto;
	}
	.widget_shop01.add_design5 .info1 .heading{
		margin-bottom: 10px;
		text-align: center;
	}
	.widget_shop01.add_design5 .info1 p{
		display: inline-block;
		text-align: left;
	}
	.widget_shop01.add_design5 .info2{
		margin-top: 10px;
	}
}